input.text-input {

    border: solid 1px #dcdcdc; !important;
    transition: box-shadow 0.3s, border 0.3s; !important;
}

.btn {
    margin-bottom: 10px;

}

.form {
    border-bottom: solid 2px black;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Shadows Into Light', cursive;
}